@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}
/*BODY*/
body {
  font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10pt;
  background-color: black;
  padding: 20px;
  margin: 0;
  
}


/*NAV BAR*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color:#d2a1d0bc;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1B1B1B;
  color: white;
}

/*Titles and Words*/

h1 {
  font-size: 15pt;
  color: #ffffff;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h1 span {
  border: 8px solid #666666;
  border-radius: 8px;
  padding: 12px;
}

p {
  padding: 0;
  margin: 0;
  color: #efe5e5;
}


.section {
  background-color: rgb(20, 20, 20);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  color: rgb(8, 3, 3);
}

/*Header with my picture and backround*/
#header {

  /* background-image: url("images/peaceful-wallpaper-2048x1536.jpg"); */
  background-size: cover;
  background-color: rgb(27, 27, 27);
}




#header img {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
}

#header p {
  font-size: 60pt;
  background-color: black;
  color: #ffffff;
  padding-top: 8px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-circle {
  border: 8px solid rgb(255, 255, 255);
  
}

/*Project Layout*/
.columns img{
  float: center;
  width: 20%;
  height: auto;

}

.columns img:hover{
  opacity: 70%;
  cursor: grab;
}

#first_project  {
  align-content: center;
  width: 100%;
  
}
#second_project {
  margin: 0%;
  padding: 0%;
  height: 10%;
  width: 100%;
  border-color: #ffffff;
  border: 100px;
  
}

#titleoffirstproject {
  color: white;
  font-size:x-large;
}

.row {
  
  clear: both;
}

/*Wording*/
#aboutmewords {
  text-align: center;
  margin: 50px;
  color: #F3F3F3;
  font-size: larger;
  background-color: rgba(185, 102, 102, 0.029);
}

#res {
  text-align: center;
  margin: 50px auto;
  color: #2f2f2f;
}

#res p{
  font-size: 12px;
}

#res a {
  margin: 20px 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

/*Skills*/
li {
  margin-bottom: 15px;
  font-weight: bold;
}

progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-value {
  background: #3fb6b2;
}

progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}


/*Title for the work Ive done*/
#Works{
  color: black;
}



/*Buttons for bottom of page*/

#insta-image {
  display: block;
  width: 100px;
  height: 100px;
  border: 5px solid #d7d7d7;
  border-radius: 50%;
  margin: auto;
  margin-top: -75px;
}

#contacts img {
  height: 150px;
  width: 150px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

#contacts {
  text-align: center;
}

/* Contact Box */
#contact-form{
  margin-left: 40%;
  width: 50%;
  
  padding: 10px;
}

/*Screenchange*/
@media screen and (max-width: 700px) {
  .topnav  {
    float: none;
    width: 100%;
    flex-direction: column;
  }
  .body {
    flex-direction: column;
  }
  .section{
    flex-direction: column;
  }
  .img-circle img{
    width: fit-content;
    flex-direction: column;
    
  }
} 

